Source: pmacasyn
Section: devel
Priority: extra
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.14~),
               epics-motor-dev,
Standards-Version: 3.9.6
Homepage: http://www.gmca.aps.anl.gov/TPMAC2/

Package: libpmacasyn3.10
Architecture: any
Section: libs
Depends: epics-motor-dev,
		 ${shlibs:Depends}, ${misc:Depends}
Recommends: epics-pmacasyn-dev (= ${binary:Version})
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), and Motor Record device support (pmacAsynMotor and
 pmacAsynMotorPort). Note, support for working with Delta Tau
 coordinate systems is now packaged separately (pmacCoord).
 .
 This package provides shared libraries.

Package: epics-pmacasyn-dev
Architecture: any
Depends: libpmacasyn3.10 (= ${binary:Version}), 
				epics-motor-dev,
                ${shlibs:Depends}, ${misc:Depends},
                ${epics:Depends},
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), and Motor Record device support (pmacAsynMotor and
 pmacAsynMotorPort). Note, support for working with Delta Tau
 coordinate systems is now packaged separately (pmacCoord).
 .
 This package contains files which may be used to run IOCs controlling 
 Ethernet-based Delta Tau Turbo PMACs using the synApps Motor Record 
 and pmacasynmotor.
