Source: pmacasyn 
Section: devel
Priority: extra
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~),
	       	epics-synapps-dev (>= 20141009), 
            rtems-synapps-mvme3100 (>= 20141009),
            epics-debhelper (>= 6~),
X-Rtems-Build-Depends: rtems-epics, rtems-synapps,
Standards-Version: 3.9.4
Homepage: http://www.gmca.aps.anl.gov/TPMAC2/

Package: libpmacasyn3.10
Architecture: any
Section: libs
Depends: epics-synapps-dev (>= 20141009),
		 ${shlibs:Depends}, ${misc:Depends}
Recommends: epics-pmacasyn-dev (= ${binary:Version})
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), and Motor Record device support (pmacAsynMotor and
 pmacAsynMotorPort). Note, support for working with Delta Tau
 coordinate systems is now packaged separately (pmacCoord).
 .
 This package provides shared libraries.

Package: epics-pmacasyn-dev
Architecture: any
Depends: libpmacasyn3.10 (= ${binary:Version}), 
				epics-synapps-dev (>= 20141009),
                ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), and Motor Record device support (pmacAsynMotor and
 pmacAsynMotorPort). Note, support for working with Delta Tau
 coordinate systems is now packaged separately (pmacCoord).
 .
 This package contains files which may be used to run IOCs controlling 
 Ethernet-based Delta Tau Turbo PMACs using the synApps Motor Record 
 and pmacasynmotor.

Package: rtems-pmacasyn-mvme3100
Architecture: any
Depends: epics-pmacasyn-dev (= ${binary:Version}),
        rtems-synapps-mvme3100 (>= 20141009), ${misc:Depends}
Description: pmacasyn support for the mvme3100
 Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support
 (pmacAsynIPPort), Motor Record device support (pmacAsynMotor),
 and Motor Record device support for PMAC Coordinate Systems
 (pmacAsynCoord).
 .
 This package contains files which may be used to run IOCs controlling
 Ethernet-based Delta Tau Turbo PMACs using the synApps Motor Record
 and pmacasynmotor.
 .
 This package contains support for the MVME3100 PowerPC based VME SBC.

