Source: pmacasyn 
Section: devel
Priority: extra
Maintainer: Daron Chabot <dchabot@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~), 
	       epics-dev (>= 3.14.11-2),
	       epics-synapps-dev (>= 20110728-2~lenny1)
Standards-Version: 3.8.4
Homepage: http://www.gmca.aps.anl.gov/TPMAC2/

Package: libpmacasyn3.8
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), Motor Record device support (pmacAsynMotor),
 and Motor Record device support for PMAC Coordinate Systems 
 (pmacAsynCoord).
 .
 This package provides shared libraries.

Package: epics-pmacasyn-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpmacasyn3.8 (= ${binary:Version})
Description: Libraries for working with Delta Tau Turbo PMACs within EPICS.
 This library contains the low-level PMAC communication support 
 (pmacAsynIPPort), Motor Record device support (pmacAsynMotor),
 and Motor Record device support for PMAC Coordinate Systems 
 (pmacAsynCoord).
 .
 This package contains files which may be used to run IOCs controlling 
 Ethernet-based Delta Tau Turbo PMACs using the synApps Motor Record 
 and pmacasynmotor.
